<%= form_for @child do |f| %>
    <%= f.hidden_field :parent_id %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :date_of_birth %>
    <%= f.date_field :date_of_birth %>
    <br><br>
    <%= f.submit %>
<% end %>

<% if @child.errors.any? %>
    <h2>
        <%= pluralize(@child.errors.count, "error") %>
        stopped this from being saved:
    </h2>
    <ul>
        <% @child.errors.full_messages.each do |message| %>
            <li>
                <%= message %>
            </li>
        <% end %>
    </ul>
<% end %>