<h2>Add a Child to your Family</h2>
<%= render partial: "layouts/errors", locals: {instance: @child} %>
<%= form_for @child do |f| %>
    <%= f.hidden_field :parent_id %>
    <%= render partial: "form", locals: {f: f} %>
    <br><br>
    <%= f.submit %>
<% end %>
