<h1><%= @child.name %></h1>
<p>Parent: <%= @child.parent.full_name %></p>
<p>Age: <%= pluralize(@child.age, "year") %> old</p>
<p><%= link_to "View Bookings", child_bookings_path(@child)%></p>
<p><%= link_to "New Booking", new_child_booking_path(@child) %></p>
<%= form_for @child, method: "delete" do |f| %>
    <%= f.submit "Remove from Family" %>
<% end %>
