<% if @booking.has_finished? %>
    <h1>Rate <%= @booking.child.name %>'s Babysitter for this Booking</h1>
    <h3><%= @booking.babysitter.name_and_address %></h3>
    <p><%= @booking.formatted_start_time %> to <%= @booking.formatted_end_time %></p>      
    <%= form_for @booking do |f| %>
        <%= f.label :rating %>
        <%= f.number_field :rating, min: 0, max: 5 %>
        <br><br>
        <%= f.submit "Rate Babysitter"%>
    <% end %>

<% else %> 

    <h1>Edit <%= @booking.child.name %>'s Booking</h1>
    <%= render partial: "layouts/errors", locals: {instance: @booking} %>
    <%= render "form" %>
    <br>
    <%= form_for @booking, method: "delete" do |f| %>
        <%= f.submit "Cancel Booking" %>
    <% end %>
<% end %>
