<h1><%= @child.name %>'s Bookings</h1>
<h4><%= link_to "Create New", new_child_booking_path(@child) %></h4>
<h3>Upcoming</h3>
<% if @upcoming_bookings.empty? %>
<em>No Bookings</em>
<% else %>
    <% @upcoming_bookings.each do |booking| %>
        <strong><%= booking.formatted_start_time %> - <%= booking.formatted_end_time %></strong>
        <small><%= link_to "Edit Booking", edit_child_booking_path(@child, booking) %></small>
        <br> 
        <%= booking.babysitter.name_and_address %>
        <br><br>
    <% end %>    
<% end %>

<h3>Previous</h3>
<% if @previous_bookings.empty? %>
<em>No Bookings</em>
<% else %>
    <% @previous_bookings.each do |booking| %>
        <strong><%= booking.formatted_start_time %> - <%= booking.formatted_end_time %></strong>
        <% if booking.rating.nil? %>
            <small><%= link_to "Rate Booking", edit_child_booking_path(@child, booking) %></small>
        <% else %>
            - Rated <%= booking.rating %>/5
        <% end %>    
        <br> 
        <%= booking.babysitter.name_and_address %>
        <br><br>
    <% end %>
<% end %>