<h1>Create a new Babysitter Booking</h1>
<%= form_for @booking do |f| %>
    <%= f.hidden_field :parent_id %>
    <%= f.label :child_ids, "For..." %>
    <%= f.collection_check_boxes :children_ids, current_user.children, :id, :name, checked: false %>
    <br><br>

    <%= f.label :start_time, "From..."%>
    <%= f.datetime_field :start_time %>
    <%= f.label :end_time, "Until..." %>
    <%= f.datetime_field :end_time %>
    <br><br>

    <%= f.label :babysitter_id, "With..." %>
    <%= f.collection_select :babysitter_id, Babysitter.all, :id, :name_and_address %>
    <br><br>
    <%= f.submit %>
<% end %>

<% if @booking.errors.any? %>
    <h2>
        <%= pluralize(@booking.errors.count, "error") %>
        stopped this from being saved:
    </h2>
    <ul>
        <% @booking.errors.full_messages.each do |message| %>
            <li>
                <%= message %>
            </li>
        <% end %>
    </ul>
<% end %>