<h2>Enter Your Details To Create An Account</h2>
<%= form_for @parent do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <br><br>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <h3>And add the details of at least one Child who is in your care...</h3>
    <%= f.fields_for :children do |child| %>
        <%= child.label :name %>
        <%= child.text_field :name %>
        <%= child.label :date_of_birth %>
        <%= child.date_field :date_of_birth %>
        <br><br>
    <% end %>
    <%= f.submit "Create Profile" %>
<% end %>

<% if @parent.errors.any? %>
    <h2>
        <%= pluralize(@parent.errors.count, "error") %>
        stopped this from being saved:
    </h2>
    <ul>
        <% @parent.errors.full_messages.each do |message| %>
            <li>
                <%= message %>
            </li>
        <% end %>
    </ul>
<% end %>