<h1>Hi <%= current_user.full_name %></h1>


<h3>Manage your family and their Babysitter Bookings</h3>
<ul>
    <% current_user.children.each do |child| %>
        <li>
            <%= link_to child.name, parent_child_path(current_user, child) %>: <%= pluralize(child.age, "year") %> old
            <br>
            <%= pluralize(child.bookings.count, "Booking") %>
            <br>
        </li>
    <% end %>
</ul>
<p><%= link_to "Add another Child to your family", new_parent_child_path(current_user) %>

<br><br><br><br><br><br><br><br>

HEre are bookings to review
<h3>Here are your Babysitter bookings</h3>

<p>Create a new <%= link_to "Booking", new_parent_booking_path(current_user) %>.</p>


